@font-face {
  font-family: "Obscura";
  src: url("../public/obscura.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Excalibur";
  src: url("../public/excalibur.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../public/raleway.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Port Harcourt";
  src: url("../public/port-harcourt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
